<!DOCTYPE html>
<html x lang="pt-br">

<head>
    <title>LOGIN</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pry_style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Footer-white.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
</head>

<header>
    <img widht="200" height="180" src="img/logo_without_background.png" alt="logo Drive my car" id="imgdrive"><br>
    <!-- Menu de navegacao do site -->
    <nav id="menu">
        <ul>
            <li><a href="Login_Beta/index.html">HOME</a>
            <li><a href="Login_Beta/login.html">LOGIN</a>
            <li><a href="frotaN.html">FROTA</a>
            <li><a href="docs.html">CONTRATAÇÂO</a>
            <li><a href="Meus Pedidos.html">MEUS CONTRATOS</a>
        </ul>
    </nav>
</header>

</html x>

<html y>
<h1>Confira as informações necessárias.</h1>


</head>

<div>
    <h1>IDENTIFICAÇÃO DAS PARTES CONTRATANTES</h1>

    <div class="container">
        <div class="row">
            <div id="msg" class="col-sm-10 offset-sm-1 ">
                <!--<div class="alert alert-warning">Contato não encontrado.</div>-->
            </div>
        </div>
        INFORMAÇÕES LOCATÁRIO:
        <br>
        <div>
            <div class="form-group row">
                <div class="col-sm-3" id="data1">
                    <label for="datetime">Data Inicial:</label>
                    <input type="date" class="form-control" id="dataDois" onchange="chamar()">
                </div>
                <div class="col-sm-3" id="data2">
                    <label for="datetime">Data Final:</label>
                    <input type="date" class="form-control" id="dataUm" onchange="chamar()" />
                </div>
                <div class="col-sm-2" id="diarias">
                    <label for="datetime">Total de Diarias:</label>
                    <input type="text" class="col-sm-5" id="numeroDias" name="numdays" disabled />

                </div>

                <div>
                    <script>
                        /******* função que recupera os valores dos inputs tipo date e
                        calcula a diferença entre eles. *******/

                        function difDias() {
                            //instantaneos do objeto Date, veja explicação no final da resposta
                            var dataUm = new Date(document.getElementById("dataUm").value);
                            var dataDois = new Date(document.getElementById("dataDois").value);
                            return parseInt((dataUm - dataDois) / (24 * 3600 * 1000));
                        }

                        function chamar() {
                            document.getElementById("numeroDias").value = isNaN(difDias()) ? "" :
                                difDias();
                        }
                    </script>


                </div>
                <div>
                    <script>
                        function calculaDiferenca(dataInicial, dataFinal)

                        /*gera um objeto do tipo Date com valor do input*/
                        var date1 = new Date(dataInicial);
                        var date2 = new Date(dataFinal);

                        console.log(date2.getTime());
                        /*Subtrai a segunda data em milisegundos pela primeira e usa função abs para retornar o valor absoluto*/
                        var timeDiff = Math.abs(date2.getTime() - date1.getTime());

                        /*agora ele divide o valor da diferença das datas em milisegundos pela quantidade de milisegundos em um dia e usa ceil para 
                        retorna o menor número inteiro*/
                        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                        alert(diffDays + ' dias');
                    </script>
                </div>


            </div>
            <br>
            <form id="form-contato">
                <div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="inputId">Nome de Usuario Drive My Car</label>
                            <input type="text" class="form-control" id="inputId" placeholder="DMC22-00001" disabled>
                        </div>
                        <div class="col-sm-5">
                            <label for="inputNome">Nome Completo (*)</label>
                            <input type="text" class="form-control" id="inputNome" required
                                placeholder="Felipe Almeida">
                        </div>
                        <div class="col-sm-2">
                            <label for="inputId">Nacionalidade (*)</label>
                            <input type="text" class="form-control" id="inputId" placeholder="Brasileira">
                        </div>
                        <div class="col-sm-2">
                            <label for="inputId">Estado Civil</label>
                            <input type="text" class="form-control" id="inputId" placeholder="Solteiro">
                        </div>
                        <div class="col-sm-3">
                            <label for="inputId">Profissão</label>
                            <input type="text" class="form-control" id="inputId" placeholder="Estudante Universitário">
                        </div>
                        <div class="col-sm-2">
                            <label for="inputSite">CPF (*)</label>
                            <input type="text" class="form-control" id="inputSite" required placeholder="01617538603">
                        </div>
                        <div class="col-sm-2">
                            <label for="inputNome">Identidade (*)</label>
                            <input type="text" class="form-control" id="inputID" required placeholder="MG.14.983.010">
                        </div>
                        <div class="col-sm-2">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" v-model="cep" id="cep" onclick="this.value=''"
                                maxlength="8" placeholder="30503-000" value="">
                        </div>
                        <div class="col-sm-2">
                            <label for="cep">CNH</label>
                            <input type="text" class="form-control" v-model="cep" id="cep" onclick="this.value=''"
                                maxlength="8" placeholder="03552443409" value="">
                        </div>
                        <div class="col-sm-1">
                            <label for="cep">Cat.</label>
                            <input type="text" class="form-control" v-model="cep" id="cep" onclick="this.value=''"
                                maxlength="8" placeholder="AB" value="">
                        </div>
                        <div class="col-sm-5">
                            <!-- INÍCIO DIV CONTEÚDO DO FORM LOGRADOURO -->
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="endereco" placeholder="Rua Jose Resende">
                        </div>
                        <div class="col-sm-1">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero" placeholder="60">
                        </div>
                        <div class="col-sm-2">
                            <label for="numero">Complemento</label>
                            <input type="text" class="form-control" id="numero" placeholder="Casa fundos">
                        </div>
                        <div class="col-sm-4">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" placeholder="Jardim Verde e Amarelo">
                        </div>
                        <div class="col-sm-3">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" placeholder="Betim">
                        </div>
                        <div class="col-sm-3">
                            <label for="estado">Estado</label>
                            <select id="estado" class="form-control">
                                <option selected>Selecione...</option>
                                <option value="AC">AC - Acre</option>
                                <option value="AL">AL - Alagoas</option>
                                <option value="AM">AM - Amazonas</option>
                                <option value="AP">AP - Amapá</option>
                                <option value="BA">BA - Bahia</option>
                                <option value="CE">CE - Ceara</option>
                                <option value="DF">DF - Distrito Federal</option>
                                <option value="ES">ES - Espirito Santo</option>
                                <option value="GO">GO - Goiás</option>
                                <option value="MA">MA - Maranhão</option>
                                <option value="MG">MG - Minas Gerais</option>
                                <option value="MS">MS - Mato Grosso do Sul</option>
                                <option value="MT">MT - Mato Grosso</option>
                                <option value="PA">PA - Pará</option>
                                <option value="PB">PB - Paraíba</option>
                                <option value="PE">PE - Pernambuco</option>
                                <option value="PI">PI - Piauí</option>
                                <option value="PR">PR - Paraná</option>
                                <option value="RJ">RJ - Rio de Janeiro</option>
                                <option value="RN">RN - Rio Grande do Norte</option>
                                <option value="RO">RO - Rondônia</option>
                                <option value="RR">RR - Roraima</option>
                                <option value="RS">RS - Rio Grande do Sul</option>
                                <option value="SC">SC - Santa Catarina</option>
                                <option value="SE">SE - Sergipe</option>
                                <option value="SP">SP - São Paulo</option>
                                <option value="TO">TO - Tocantins</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputEmail">E-mail cadastro (*)</label>
                            <input type="email" class="form-control" id="inputEmail" required
                                placeholder="felipenouber@gmail.com" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        Detalhes Conta Aplicativos:
                        <br>
                    </div>
                    <div class="col-sm-3">
                        <label for="AppSelect">Quais Apps</label>
                        <select id="AppSelect" class="form-control">
                            <option selected>Selecione...</option>
                            <option value="Padrão sem GNV">Uber</option>
                            <option value="Padrão com GNV">99 Pop</option>
                            <option value="Confort sem GNV">Indriver</option>
                            <option value="Confort com GNV">Uber e 99 Pop</option>
                            <option value="Confort com GNV">Uber e Indriver</option>
                            <option value="Confort sem GNV">99 Pop e Indriver</option>
                            <option value="Confort sem GNV">Uber, Indriver e 99 Pop</option>
                            <option value="Confort sem GNV">Outros Apps</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputTelefone">Telefone cadastrado na UBER/99 (*)</label>
                        <input type="text" class="form-control" id="inputTelefone" required placeholder="31-99292-5783">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputEmail">E-mail cadastrado na UBER/99 (*)</label>
                        <input type="email" class="form-control" id="inputEmail" required
                            placeholder="felipenouber@gmail.com">
                    </div>
                </div>
                <div class="form-group row">

                </div>
                <div class="col-sm-3">
                    <label for="Carro-Categoria">Tipo Carro-Categoria</label>
                    <select id="Carro-Categoria" class="form-control">
                        <option selected>Selecione...</option>
                        <option value="Padrão sem GNV">Categoria Standard sem GNV</option>
                        <option value="Padrão com GNV">Categoria Standard comm GNV</option>
                        <option value="Intermediária sem GNV">Categoria Intemediária sem GNV</option>
                        <option value="Intermediária com GNV">Categoria Intermediária com GNV</option>
                        <option value="Premium com GNV">Categoria Premium sem GNV</option>
                        <option value="Premium sem GNV">Categoria Premium com GNV</option>
                    </select>
                </div>


        </div>
    </div>


</div>
<br>
<br>
<a href="Calculadora.html">
    <img src="img/Calculadora.png" width="80px" height="90px" href="Calculadora.html">
</a>
<div class="col-sm-1">
    <p> Abrir Simulador de Valores</p>
</div>


<text aligment="center">
    <div class="form-group row">
        <div class="col-sm-4">
            <label for="inputSite">Upload de documentos em PDF (CNH, Comprovante de Endereço e CPF)</label><br>
            <input type="file" class="form-control" id="inputSite" required placeholder="Carregar arquivos">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <br>

            <small>(*) Conforme cadastro no Drive My Car</small>
        </div><br>
    </div>
    <div>
        <div class="jogo-botoes">
            <label for="datetime-local">Data solicitação:</label>
            <input type="datetime-local" id="input" name="Gerar Contrato" class="btn btn-primary" value="Cancelar">
        </br>
    </br>

            <p><a href="pagamentos.html" class="btn btn-primary btn-sm">PROSSEGUIR PARA PAGAMENTO</a></p>         
            <p><a href="frotaN.html" class="btn btn-primary btn-sm">ESCOLHER OUTRO VEICULO</a></p><br>
            <p><a href="Login_Beta/index.html" class="btn btn-primary btn-sm">SAIR</a></p><br>
        </div>


    </div>
    <!--div>
        <p><a href="pagamentos.html" class="btn btn-primary btn-sm">Submeter Informações e Prosseguir</a></p><br>
        <p><a href="frotaN.html" class="btn btn-primary btn-sm">Voltar e Escolher outro Veiculo</a></p><br>
        <p><a href="Login_Beta/index.html" class="btn btn-primary btn-sm">Cancelar e Voltar para Home</a></p><br>
    </div-->

    </script>
</text>

<!-- Date e assine sua página, isto é educado! -->

<body>
    <div class="content">
    </div>
    <footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="Sobre.html">Informações da Empresa</a></li>
                <li><a href="Contato.html">Contato</a></li>
                <li><a href="Parceiros.html">Parcerias</a></li>
            </ul>
            <p class="footer-copyright">© 2022 Copyright - Drive My Car</p>
        </div>
        <div class="footer-social">
            <a href="https://facebook.com" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="https://instagra.com" class="social-icons"><i class="fa fa-instagram"></i></a>
            <a href="https://youtube.com" class="social-icons"><i class="fa fa-youtube"></i></a>
            <a href="https://twitter.com" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="src/js/date.js"></script>
</body>

</html>