* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3px;

}

#menu ul {
    max: width 900px;
    px;
    list-style: none;
    padding: 0;
    background-color: rgb(215, 221, 205);
}

#menu ul li {
    display: inline-block;
    padding: 15px;
}

#menu ul li a {
    color: #fff;
    padding: 20px display:inline-block;
    text-decoration: none;
    transition: background .4s;

}

#menu ul li a:hover {
    background-color: rgb(238, 15, 15);
}

#imgdrive {
    position: center;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: gray;
}

.social-media {
    display: inline;
    margin: none;
}

.menupagamento {
    display: inline-block;
    width: 25vw;
    height: 28vw;
    background-color: rgb(212, 224, 220);
    justify-content: center;
    align-items: center;


}

.menupagamento ul {
    list-style: none;
    margin: 10%;

}

.menupagamento ul li {
    color: green;
    background-color: rgb(228, 16, 16) clor:#ccc;
    width: 150px;
    padding: 10px;
    font: normal 16px arial;

}


#formulario {
    display: inline-block;
    width: 50vw;
    height: 30vw;
    align-items: center;

}

.form-pagamento {
    -webkit-box-shadow: -8px 5px 15px 5px #c7c7c7;
    box-shadow: -8px 5px 15px 5px #c7c7c7;
    width: 30%;
    padding: 30px 30px 80px 30px;
    width: 70%;
    height: 30vw;
    display: inline-block;

}

.form-pagamento form {
    display: inline-block;
    flex-wrap: wrap;
}

.form-pagamento input[type=text] {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
}

.form-pagamento input[type=submit] {
    width: 100%;
    heigt: 40px;
    border: 0;
    cursor: pointer;
    background-color: #069;
    color: white;
}

@media screen and (max-widht:768px) {

    .descricao-pagamento,
    .form-pagamento {
        width: 100%;
        margin-bottom: 10px;
    }
}

.form-100 {
    width: 100%;
    margin-bottom: 10px;
}

.form-50 {
    width: 100%;
    display: flex;
    margin-bottom: 10px margin-left -1px;
}

.form-pagamento label {
    display: block;
    margin: botom 10px;
    font-weight: bold;
    color: rgb(140, 140, 140)
}

footer {


    background-color: #dbdada;
    text-align: center;
    font: size 0.8;
    color: rgb(128, 120, 120) padding:5px;


}