.modal-content2 {
    color:darkred;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;    
    -webkit-box-orient:vertical;    
    -webkit-box-direction:normal;    
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    pointer-events:auto;
    background-color:rgb(255, 255, 255);
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.3rem;outline:0
    
}

