body{
	Color:red;
	font-family: arial;
	font-size:30px;
}
h1{
	Color:red;
	font-family: arial;
	font-size:50px;

}
title1{
	Color:white;
	font-family: arial;
	font-size:100px;
	background-color: blue
}